.search {
	clear: both;
}

.search img {
	padding: 20px 20px;
	position: relative;
	top: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.topnav img {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	float: right;
	padding-top: 11px ;
	padding-left: 10px;
	padding-right: 5px;
}
.topnav a {
	color: #212121;
	font-size: 13px;
	font-family: 'Arial', sans-serif;
	font-weight: 300;
	padding: 20px 8px;
	text-decoration: none;
	position: relative;
}
.topnav a:hover {
	text-decoration: underline;
}
.left {
	float: left;
}
.right {
	float: right;
}
.box {
	width: 550px;
	height: 45px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	filter: drop-shadow(0 2px 2px #E7E7E7);
}
.box:hover {
	outline: none;
	filter: drop-shadow(0 3px 3px #C2C2C2);
}
.box:focus {
	outline: none;
}
.box input {
	width: 550px;
	height: 45px;
	padding: 12px;

	font-size: 10pt;
	vertical-align: middle;
	white-space: nowrap;

	border: 1px solid #E7E7E7;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    position: relative;
    top: 200px;
}
.box img {
	height: 20px;
	width: auto;
	padding: 12px;
	position: absolute;
	right: 0;
	vertical-align: middle;
	cursor: pointer;
}
.container {
	width: 100%;
	position: relative;
}
.floated {
	width: 48%;
    top: 220px;
    float: left;
    padding: 0.5%;
}
.first {
    text-align: right;
}
.button {
	background-color: #F4F4F4;
	color: #757575;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 10pt;
	cursor: pointer;
}
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #F1F1F1;
	padding: 13px 10px;
}
.footer a {
	font-family: 'Arial', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	text-decoration: none;
	color: #404040;
	margin: 0 10px;
}
.footer a:hover {
	text-decoration: underline;
}