div {
	font-family: 'Open Sans', sans-serif;
}

.body {
	padding: 20px 20px;
	position: relative;
	top: 200px;
}
.body input(type=text) {
	font-size: 20px;
	position: relative;
}

.topnav a {
	padding: 20px 8px;
	text-decoration: none;
	color: #212121;
	font-size: 14px;
}
.topnav a:hover {
	text-decoration: underline;
}