div {
	 font-family: 'Cabin', sans-serif;
	 font-weight: 300;
}

img {
	padding: 20px 20px;
	position: relative;
	top: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box {
	width: 550px;
	height: 45px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	filter: drop-shadow(0 2px 2px #E7E7E7);
}
.box:hover {
	outline: none;
	filter: drop-shadow(0 3px 3px #C2C2C2);
}
.box:focus {
	outline: none;
}
.box input {
	width: 550px;
	height: 45px;
	padding: 12px;

	font-size: 10pt;
	vertical-align: middle;
	white-space: nowrap;

	border: 1px solid #E7E7E7;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    position: relative;
    top: 200px;
}

.box img {
	height: 20px;
	width: auto;
	padding: 12px;

	position: absolute;
	right: 0;
	vertical-align: middle;

	cursor: pointer;
}

.topnav a {
	color: #212121;
	font-size: 13px;

	padding: 20px 8px;
	text-decoration: none;
	position: static;
}
.topnav a:hover {
	text-decoration: underline;
}